body {
    margin: 0;
}

.contenuto-pagina {
    margin: 10px;
}

nav {
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: red;

    text-align: center;
    padding: 10px;

    position: fixed;
    bottom: 0;
}

nav a {
    padding-left: 15px;
    padding-right: 15px;

    text-decoration: none;
    font-family: monospace;
    font-size: 50px;
    color: white;
}

nav a:hover {
    background: black;
    color: green;
}

nav a:hover {
    /* TO-DO*/
}

.visibility-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}


/*
NOTE
----

display: block
Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width

display: inline
Displays an element as an inline element (like <span>). Any height and width properties will have no effect

The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area. The overflow property has the following values:
  visible - Default. The overflow is not clipped. The content renders outside the element's box
  hidden - The overflow is clipped, and the rest of the content will be invisible
  scroll - The overflow is clipped, and a scrollbar is added to see the rest of the content
  auto - Similar to scroll, but it adds scrollbars only when necessary
The overflow-x and overflow-y properties specifies whether to change the overflow of content just horizontally or vertically (or both):
  overflow-x specifies what to do with the left/right edges of the content.
  overflow-y specifies what to do with the top/bottom edges of the content.


position: fixed;
https://www.w3schools.com/css/css_positioning.asp

*/
